.footer {
  &__inner {
    padding: 68px 0 63px;
    background-color: #292935;
    color: #fff;
  }
  &__container,
  &-bottom__container {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    max-width: 345px;
    font-size: 1.6rem;
  }
  &__des {
    margin-top: 50px;
    line-height: 26px;
  }
  &__right {
    display: flex;
    a {
      &:hover {
        color: $color;
      }
    }
  }
  &__title {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 41px;
    line-height: 36px;
  }
  &-links {
    margin-right: 60px;
  }
  &-contact,
  &-links {
    font-size: 1.6rem;
    line-height: 34px;
  }
  &-bottom {
    background-color: #24242e;
    margin-top: 61px;
    &__container {
      align-items: center;
      padding: 30px 15px 27px;
    }
    &__copy {
      font-size: 1.6rem;
    }
    &__link {
      margin-right: 24px;
      &:hover {
        i {
          color: $color;
        }
      }
      i {
        font-size: 20px;
        color: #999;
      }
    }
  }
}

@media screen and (max-width: $lg - 1px) {
  .footer {
    &__left {
      max-width: 320px;
      padding-right: 30px;
    }
    &-links {
      margin-right: 10px;
    }
    &-links,
    &-contact {
      width: 50%;
    }
  }
}

@media screen and (max-width: $md - 1px) {
  .footer {
    &__container {
      flex-direction: column;
    }
    &__left {
      max-width: 80%;
    }
    &__right {
      margin-top: 69px;
    }

    &-bottom {
      &__icons {
        display: none;
      }
    }
  }
}
