// BANER
.baner {
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 491px;
    background-image: url("../image/baner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(64, 68, 230, 0.8);
    }
  }
  &__title,
  &__subtitle {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    margin: 0 10px;
  }

  &__title {
    font-size: 4.8rem;
    font-weight: 600;
    margin-top: 127px;
    margin-bottom: 56px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: all 0.4s 0.6s ease-in-out;
    }

    &.active {
      transform: scaleX(1);
      &::after {
        width: 0;
      }
    }
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 400;
    transform-origin: right center;
    transform: scaleX(0);
    transition: all 0.4s 0.5s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-color: #fff;
      transition: all 0.4s 1.1s ease-in-out;
      transform-origin: right center;
      transform: scaleX(1);
    }

    &.active {
      transform: scaleX(1);
      &::after {
        transform: scaleX(0);
      }
    }
  }
}

// DASHBOARD

.dashboard {
  &__image {
    display: flex;
    justify-content: center;
  }
  &__img {
    position: relative;
    margin-top: -165px;
    z-index: 2;
  }
  &__des {
    text-align: center;
    margin-top: 67px;
    max-width: 600px;
    margin: 67px auto 0;
  }
  &__title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #292935;
  }

  &__text {
    font-size: 1.6rem;
    color: #a1a1a1;
    margin-top: 38px;
    line-height: 24px;
  }
}

@media screen and (max-width: $lg - 1px) {
  .dashboard {
    &__img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $sm - 1px) {
  .dashboard {
    &__des {
      margin-top: 65px;
    }
  }
}

// ABOUT
.about {
  &__inner {
    margin-top: 85px;
    margin-bottom: 169px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    color: #292935;
    &-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    &-title {
      font-size: 2rem;
      font-weight: 600;
      margin: 29px 0;
    }
    &-des {
      font-size: 1.6rem;
      line-height: 20px;
    }
    &:nth-child(2) {
      margin: 0 60px;
    }
  }

  &__more {
    align-self: center;
    margin-top: 69px;
    color: #4044e6;
    font-size: 1.8rem;
    font-weight: 600;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: $lg - 1px) {
  .about {
    &__inner {
      margin-bottom: 100px;
    }
    &__items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      width: 50%;
      &:nth-child(2) {
        margin: 0;
      }
      &:last-child {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: $md - 1px) {
  .about {
    &__item {
      width: 100%;
      margin-top: 40px;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        margin-top: 40px;
        order: 1;
      }
      &:nth-child(3) {
        order: 3;
      }
    }
  }
}

@media screen and (max-width: $sm - 1px) {
  .about {
    &__inner {
      margin-top: 0;
      margin-bottom: 96px;
    }

    &__item {
      margin-top: 85px;
      max-width: 85%;
      &:nth-child(1) {
        margin-top: 75px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 85px;
      }
    }

    &__more {
      margin-top: 96px;
    }
  }
}

@media screen and (max-width: 410px) {
  .dashboard {
    &__title {
      font-size: 3rem;
    }
  }
}

// TESTIMONIAL

.testimonial {
  &__inner {
    margin-bottom: 118px;
  }
  &__items {
    height: 607px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(64, 68, 230, 0.8);
    }
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    &-container {
      position: absolute;
      top: 124px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      text-align: center;
      color: #fff;
      max-width: 850px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-text {
      font-size: 2.3rem;
      font-style: italic;
      line-height: 27px;
      font-weight: 300;
    }
    &-autor {
      margin-top: 50px;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &-btn {
      margin-top: 64px;
      background-color: transparent;
      border: none;
      &:hover {
        .testimonial__item-image {
          opacity: 0.7;
        }
      }
    }
    &-action {
      margin-top: 25px;
      font-size: 2.3rem;
      font-weight: 600;
    }
  }

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    video {
      width: 700px;
      height: 350px;
    }
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__people {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -52px;
    z-index: 2;
  }
  &__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 26px;
    &:last-child {
      margin-right: 0;
    }
    &-image {
      position: relative;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 4px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        pointer-events: none;
      }
      &.active {
        &::after {
          background-color: transparent;
        }
      }
    }
    &-logo {
      margin-top: 23px;
      width: 85px;
      height: auto;
    }
  }
  &__description {
    margin-top: 94px;
    text-align: center;
  }
  &__title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #292935;
    max-width: 600px;
    margin: 0 auto;
  }
  &__des {
    color: #a1a1a1;
    font-size: 1.6rem;
    max-width: 745px;
    margin: 48px auto 0;
    line-height: 24px;
  }
  &__text {
    &:last-child {
      margin-top: 25px;
      span {
        color: #4044e6;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: $lg - 1px) {
  .testimonial {
    &__des {
      max-width: 680px;
    }
  }
}
@media screen and (max-width: $md - 1px) {
  .testimonial {
    &__item {
      &-btn {
        margin-top: 40px;
        width: 122px;
      }
    }
    &__person {
      &-image {
        width: 80px;
        height: 80px;
      }
    }
    &__title,
    &__des {
      max-width: 90%;
    }

    &__video {
      video {
        width: 500px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: $sm - 1px) {
  .testimonial {
    &__inner {
      margin-bottom: 100px;
    }
    &__item {
      &-container {
        top: 82px;
      }
    }
    &__people {
      margin-top: -30px;
    }
    &__person {
      margin-right: 16px;
      width: 16%;
      &-image {
        width: 100%;
        height: auto;
      }
      &-logo {
        width: 100%;
      }
    }

    &__video {
      video {
        width: 97%;
        height: 270px;
      }
    }

    &__description {
      margin-top: 75px;
      padding: 0 15px;
    }
    &__des {
      margin-top: 41px;
    }
    &__title,
    &__des {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 410px) {
  .testimonial {
    &__item {
      &-btn {
        width: 90px;
      }
    }
    &__title {
      font-size: 3rem;
    }
  }
}

// WORK
.work {
  &__inner {
    position: relative;
    background-color: #4044e6;
    min-height: 520px;
    &::after {
      content: "WORK HARDER";
      position: absolute;
      top: 0;
      right: -630px;
      font-size: 30.8rem;
      color: rgba(26, 27, 86, 0.18);
      font-weight: 700;
      z-index: 1;
      white-space: nowrap;
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    z-index: 2;
  }

  &__text {
    margin-top: 69px;
    font-size: 3.6rem;
    font-weight: 600;
    color: #fff;
    max-width: 650px;
  }
  &__right {
    position: relative;
  }
  &__image {
    position: absolute;
    top: 24px;
    right: -270px;
  }
  &__link {
    position: relative;
    display: inline-block;
    padding: 22px 61px;
    background-color: #fff;
    color: #292935;
    font-size: 1.8rem;
    font-weight: 500;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: #292935;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      width: 3px;
      height: 20px;
    }
    &::after {
      width: 20px;
      height: 3px;
    }
    &-container {
      display: inline-block;
      position: relative;
      margin-top: 72px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: -8px;
        background-color: #292935;
        transition: all 0.3s ease-in-out;
      }
      &::before {
        width: 3px;
        height: 20px;
      }
      &::after {
        width: 20px;
        height: 3px;
      }

      &:hover {
        &::before {
          height: 85px;
        }
        &::after {
          width: 212px;
        }

        .work__link {
          &::before {
            height: 85px;
          }
          &::after {
            width: 212px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .work {
    &__inner {
      &::after {
        top: 45px;
        right: -670px;
        font-size: 25rem;
      }
    }
    &__image {
      right: -45px;
      width: 650px;
      top: 85px;
    }
  }
}

@media screen and (max-width: $xl - 1px) {
  .work {
    &__inner {
      &::after {
        top: 85px;
        right: -570px;
        font-size: 20rem;
      }
    }
    &__image {
      width: 550px;
      top: 142px;
    }
  }
}
@media screen and (max-width: $lg - 1px) {
  .work {
    &__inner {
      &::after {
        right: -500px;
        font-size: 16rem;
      }
    }
    &__image {
      width: 400px;
      top: 225px;
      right: 0;
    }
  }
}

@media screen and (max-width: $md - 1px) {
  .work {
    &__inner {
      &::after {
        right: auto;
        font-size: 27rem;
        left: -57px;
        top: 0;
      }
    }
    &__right {
      display: none;
    }
  }
}

@media screen and (max-width: $sm - 1px) {
  .work {
    &__container {
      padding-top: 0;
      padding-left: 30px;
    }
    &__text {
      margin-top: 78px;
    }
  }
}

@media screen and (max-width: 410px) {
  .work {
    &__text {
      font-size: 3rem;
    }
  }
}

// COMPANIES
.companies {
  &__inner {
    margin: 90px 0;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__image {
    margin-right: 123px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $xl - 1px) {
  .companies {
    &__list {
      justify-content: space-between;
    }
    &__image {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: $lg - 1px) {
  .companies {
    &__image {
      max-width: 140px;
    }
  }
}

@media screen and (max-width: $md - 1px) {
  .companies {
    .owl-item,
    .owl-dots {
      display: flex;
      justify-content: center;
    }
    .owl-dots {
      margin-top: 60px;
    }
    .owl-dot {
      width: 10px;
      height: 10px;
      background-color: #4145ee !important;
      opacity: 0.3;
      border-radius: 50%;
      margin: 3px;
      &.active {
        opacity: 1;
      }
    }
  }
}
